<nav class="navbar navbar-light bg-info">
  <div class='container-fluid'>
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="" style="color : black; font-size: xx-large; font-weight: bold;">Cab Booking
        System <img src="../../assets/images/taxi-solid.svg" height="40px" width="40px"></a>
    </div>

    <li class="nav-item dropdown d-flex">
      <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-lock"></i> Login
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" routerLink="/admin-l">Admin</a></li>
        <li><a class="dropdown-item" routerLink="/login">User</a></li>
        <li><a class="dropdown-item" routerLink="/driver-login">Driver</a></li>

      </ul>
    </li>

  </div>
</nav>

<div class="background-image">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
    <div class="card">

      <div class="card-body">
        <h3 class="card-title text-dark" style="text-align: center; font-weight: bold;">Start your Day by Riding with Us!</h3>



        <img src="../../assets/images/cabbook.png" class="card-img-top" alt="...">
      </div>
    </div>
  </div>
  </div>
  </div>

</div>


