<body>
  
    <nav class="navbar navbar-light bg-info">
      <div class='container-fluid'>
        <div class="navbar-header">
          <a class="navbar-brand" style = "color : black; font-size: xx-large; font-weight: bold;" routerLink="/booking-dashboard">Cab Booking System <img src="../../assets/images/taxi-solid.svg" height="40px" width="40px"></a>
        </div>
          <div class="d-flex">
             <button routerLink="/login" class="btn btn-danger mx-2"><i class="fa-solid fa-right-from-bracket"></i> Logout</button>
          </div>
      </div>
    </nav>
  <!--https://source.unsplash.com/1400x400/?cab-->
  
    <div class="card text-bg-dark">
      <img src="../../assets/images/cab2.jpg" class="card-img" style="opacity: 20%;" alt="...">
      <div class="card-img-overlay">
        <h3 class="card-title head">Your Ride is Here!</h3>
        <h5 class="card-text subhead">This Cab Booking System is a web-based platform that allows our customers to order taxis and executive cabs from their own home or office.</h5>
        
      </div>
    </div>
  
  
        <div class="container mt-8">
      <div class="heading">
          <h2 class="mt-5" style="font-weight: bold;">Our Services</h2>
          <p>Go in the ride you want</p>
      </div>
  </div>
  <div class="container">
  
      <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col">
            <div class="card shadow p-3 mb-5 bg-body rounded">
              <img src="../../assets/images/auto.png" class="card-img-top" alt="..." height="250px" width="500px">
              <div class="card-body">
                <h5 class="card-title">Auto Ride</h5>
                <p class="card-text">Looking for an affordable and quick ride? Conveniently request a ride with Auto from your doorstep at just the tap of a button.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow p-3 mb-5 bg-body rounded">
              <img src="../../assets/images/cab1.png" class="card-img-top" alt="..." height="250px" width="500px">
              <div class="card-body">
                <h5 class="card-title">Mini Cab Ride</h5>
                <p class="card-text">Micro and Mini can seat upto 4 passengers and can accommodate up to 2-3 small size bags.</p>
               
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow p-3 mb-5 bg-body rounded">
              <img src="../../assets/images/cabxl.png" class="card-img-top" alt="..." height="250px" width="500px">
              <div class="card-body">
                <h5 class="card-title">CabXL Ride </h5>
                <p class="card-text">Affordable rides for groups up to 6. When you've got a group, a lot of luggage, or just the desire to spread out a bit, UberXL is the way to go. </p>
               
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow p-3 mb-5 bg-body rounded">
              <img src="../../assets/images/cabPre.webp" class="card-img-top" alt="..." height="270px" width="500px">
              <div class="card-body">
                <h5 class="card-title">Cab Premium Ride</h5>
                <p class="card-text"> Premium Cab is a combination of stunning looks, elegant design, power and comfortable ride.</p>
             
              </div>
            </div>
          </div>

          <button routerLink="/booking-dashboard" class="btn btn-info p-3 col-6 offset-3" style="color:black; font-size: 30px;font-weight: bold;">Book Now</button>
        </div>
  </div>
  

  <footer class="bd-footer py-4 mt-5 bg-light">
    <div class="container py-4">
        <div class="row">
          <a class="navbar-brand" href="#">
            <img src="../../assets/images/taxi-solid.svg" alt="" width="50" height="44" class="d-inline-block align-text-top">
            <span>Cab Booking Service</span>
          </a>
            <div class="col-6 col-lg-2 offset-lg-1 mb-3">
                <h5>Customer Support</h5>
                <ul class="list-unstyled">
                    <li class="mb-2">
                      <a href="tel:+01273123456">
                        <img src="../../assets/images/phone.png" alt="" width="42" height="34" class="d-inline-block align-text-top">
                        91-8947532786</a>
                    </li>
                    <li class="mb-2">
                      <a href="mailto:shashikantkr123@gmail.com">
                        <img src="../../assets/images/mail.jpg" alt="" width="40" height="34" class="d-inline-block align-text-top">
                        sha@gmail.com</a>
                    </li>
                    <!-- <li class="mb-2">
                      <a href="http://localhost:4200/">Copyright cabooking.dxc2023</a>
                    </li> -->
                </ul>
            </div>
            <div class="col-6 col-lg-2 offset-lg-1 mb-3">
                <h5>Categories</h5>
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="">Cab Booking</a>
                    </li>
                    <li class="mb-2">
                      <a href="">User Registeration</a>
                  </li>
                  <li class="mb-2">
                    <a href="">Cab Details</a>
                </li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 offset-lg-1 mb-3">
                <h5>Link</h5>
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="http://localhost:4200/">Home</a>
                    </li>
                    <li class="mb-2">
                      <a href="http://localhost:4200/">Registration</a>
                  </li>
                  <li class="mb-2">
                    <a href="http://localhost:4200/">DashBoard</a>
                </li>
                <li class="mb-2">
                  <a href="http://localhost:4200/">Booking</a>
              </li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 offset-lg-1 mb-3">
                <h5>Product</h5>
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="">Mini Cab</a>
                    </li>
                </ul>
                <ul class="list-unstyled">
                  <li class="mb-2">
                      <a href="">Cab XL</a>
                  </li>
              </ul>
              <ul class="list-unstyled">
                <li class="mb-2">
                    <a href="">Cab Premium</a>
                </li>
            </ul>
            </div>
            
        </div>
    </div>
    <footer style="text-align: center; text-decoration-line: none; color: black;"><a href="http://localhost:4200/">Copyright.cabooking.dxc@2023</a></footer>
</footer>
  
  </body>
